  <div="containerprincipal" id="cp">
        <div="box" id="box">
            <h1 id="cad">Cadastro</h1>
            <div id="logo">
                <img src="img/logo.png" alt="logo">
            </div>  
            <form action="/add-dados" method="post">       
                <div="texto" id="texto">
                    <br id="cadastro" action="/add-dados" method="post">
                    <a>Nome:</a></br>        
                        <input type="text" id="nome"name="nome" placeholder="Nome Completo"></br><br>
                    <a>Data de nascimento:</a></br>
                        <input type="date" id="data_nascimento"name="data_nascimento"></br><br>
                    <a>Email:</a></br>
                        <input type="email" id="email"name="email" placeholder="exemplo@***mail.com"></br><br>
                    <a>Senha:</a></br>
                        <input type="text" id="senha"name="senha"></br><br>
                    <a>Confirmar Senha:</a></br>
                        <input type="text" id="confirma_senha"name="cosfirma_senha"></br><br>
                    <a>Telefone:</a></br>
                        <input type="tel" id="telefone"name="telefone" placeholder="(ddd) 9 ****-****"></br><br>
                    <a>Objetivos profissionais:</a></br>
                        <input type="text" id="obj_profissional"name="obj_profissional" placeholder=""></br></br>
                </div>
                        <input type="submit" id="botao">
            </form>
        </div>
    </div>